
.container{  
    width: 1260px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
    background-color: #edf2c5;
}
.style{
    padding: 36px 160px 30px;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
}
.login-box{
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 25px;
    margin-top: 24px;
}
.img-icon{
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
}
.btn{
    border-radius: 5px;
    border: 1px solid #778a50;
    max-width: 60px;
    height: 23px;
    margin: 0 5px 0 5px;
}
.btn-txt{
    padding: 6px;
    height: 15px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;  
    line-height: 0.85;
    text-align: center;
    color: #778a50;
}
.line{
    width: 1px;
    height: 25px;
    margin: 0 10px 18px;
    background-color: #778a50;
    margin: 0 5px 0 5px;
}
.title{
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    text-align: left;
    color: #778a50;
    padding-bottom: 5px;
}
.tag1{
    border-radius: 3px;
    max-width: 940px;
    height: 44px;
    background-color: #778a50;
    display: flex;
    padding: 0;
    list-style: none;
}
.tag-item{
    font-family: Arial;
    font-weight: 900;
    font-size: 16px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding: 10px 30px 11px  30px ;
    color: #edf2c5;
    display: flex;

    line-height: 1.5;
    text-align: left;
}
.tag2{
    display: flex;
    justify-content: space-between;
}
.tag2-item{
    border-radius: 3px;
    width: 444px;
    height: 44px;
    background-color: #778a50;
    display: flex;
    padding: 0;
    list-style: none;
}
.imgs{
    display: flex;
    justify-content: space-between
}
.img1{
    width: 940px;
    height: 448px;
    margin: 5px 0 10px;
}
.img2{
    width: 140px;
    height: 140px;
}

.box3{
    width: 444px;
    height: 140px;  
    margin: 15px 0 0;
    background-color: #f7fbda;
    flex-direction:column;
}
.txt-box1{
    font-family: Arial;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color: #7d7d7d;
    
    padding: 15px;
  }
  .line-txt{
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
  }
  .txt-box2{
    justify-content: flex-start;
    display: flex;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.75;
    text-align: left;
    color: #7d7d7d;
    padding: 15px;
  }

  .foot{
    width: 1260px;
    height: 60px;
    background-color: #778a50;
  }
  .footer-txt{
    font-family: Arial;
    font-size: 12px;
    padding: 23px;
    text-align: center;
    color: #edf2c5;
  }